<div class="mainPopupContainer">
   <div class="iconBar">
    <div>
        <img src="/assets/images/mdi_filter-outline.svg"/>
        

    </div>
    <div class="arrowAndCloseContainer">
        <div>
            <img src="/assets/images/Expand-Arrow-top.svg" class="topArrow"/>
            <img src="/assets/images/Expand-Arrow-bottom.svg" class="bottomArrow" />

        </div>
        <div>
            <img src="/assets/images/close-cross.svg"/>

        </div>

    </div>
    

   </div>

   <div class="popupTitleBar">
    <img src="/assets/images/logos_linear-icon-blue.svg" class="icon" />
    <span class="popupTitle">
        Warning Procedure
    </span>

   </div>

   <div class="codeBar">
    <div>SC8539-89 Glue</div>
    <img src="/assets/images/blue-dashed-underline.svg" class="blueUnderline" />

   </div>

   <div class="productCode">
    <span class="fw700">National Product Code:</span> 647328

   </div>

   <div class="labeler">
    <span class="fw700">Labeler:</span> Glue

   </div>

   <div class="ConfirmButtonContainer">

    <div class="ConfirmButton">
        Confirm
    </div>

   </div>

</div>