<div class="rightPanel">
    <div class="itemsContainer">
        <div>
           <img src="/assets/images/codicon_fold-up.svg" />
    
        </div>
        <div class="item" (click)="openDialog()">
            <img src="/assets/images/logos_linear-icon.svg" />
            <span class="itemName">
                Properties

            </span>
           
           
    
        </div>
        <div class="item">
            <img src="/assets/images/logos_linear-icon.svg" />
            <span class="itemName">
                Warning

            </span>
           
    
        </div>
        <div class="item">
            <img src="/assets/images/code.svg" />
    
        </div>

    </div>
    
</div>